@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@theme {
  --color-cornflower-50: #f0f5fe;
  --color-cornflower-100: #dee9fb;
  --color-cornflower-200: #c4daf9;
  --color-cornflower-300: #9cc2f4;
  --color-cornflower-400: #6ea1ed;
  --color-cornflower-500: #4b7fe6; /* Main */
  --color-cornflower-600: #3661da;
  --color-cornflower-700: #2d4fc6;
  --color-cornflower-800: #2a41a3;
  --color-cornflower-900: #273a81;
  --color-cornflower-950: #1c264f;

  --font-pretendard: 'Pretendard', sans-serif;
}

html {
  font-family: var(--font-pretendard);
}
